// Colors
$main-blue: #004B79;
$main-pink: #ED1651;
$border-blue: #A9CAE1;
$nav-border-blue: #A9CAE1;
$active-blue: #56A0D3;
$text-blue: #2B7DB6;
$badge-color: #ED1651;
$comment-orange: #FA7114;
$light-gray: #EDEBEB;
$white: #fff;
$filter-color: #56A0D3;
$dark-gray: #37352D;
$active-gray: #9B9B9B;
$text-gray: #4A4A4A;
$success-color: #d9edf7;
$error-red: #F03434;
$message-background: #F8FBFE;
$notification-background: #FBFBFB;
$main-border: #4A90E2;
$footer-blue: #104A72;
$textarea-border: #BFBFBF;
$textarea-focus: #104A72;
// Spacing
$s-size: 1.6rem;
$m-size: 3.2rem;
$sm-size: 1rem;

// Breakpoints
$phone-screen: 320px;
$phone-plus-screen: 375px;
$tablet-screen: 768px;
$desktop-screen: 1024px;
