.float-box-wrapper {
  position: relative;
  display: inline-block;

  .float-box-content {
    position: absolute;

    border: 1px solid #A9CAE1;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-radius: 8px;

    background-color: #ffffff;
    z-index: 10;

    &.left {
      top: 50%;
      left: 100%;
      transform: translateY(-50%);

      &:before, &:after {
        position: absolute;

        top: 50%;
        left: -15px;
        transform: translateY(-50%);

        content: ' ';

        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #A9CAE1;
      }

      &:after {
        border-right-color: #ffffff;
        left: -13px;
      }
    }

    &.top {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);

      &:before, &:after {
        position: absolute;

        top: -15px;
        left: 50%;
        transform: translateX(-50%);

        content: ' ';

        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #A9CAE1;
      }

      &:after {
        border-bottom-color: #ffffff;
        top: -13px;
      }
    }
  }
}
