.member__card {
  display: flex;
  flex-direction: column;
  // flex: 14.2rem;
  justify-content: flex-start;
  width: calc(100% / 2 - 0.5rem * 2);
  height: 21.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  background: $main-blue;
  box-shadow: 0 0 .2rem 0 rgba(0,0,0,0.12);
  position: relative;

  &:hover, &:focus {
    box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,0.24);
  }

  // @media screen and (min-width: 375px){
  //   flex: 14.2rem;
  // }

  @media screen and (min-width: $tablet-screen) {
    // flex: 19rem;
    width: calc(100% / 3 - 1.2rem * 2);
    height: 28.5rem;
    margin: 1.2rem;
    box-shadow: 0 .4rem 1.2rem 0 rgba(0,75,121,0.15);

    &:hover, &:focus {
      box-shadow: 0 .4rem 1.6rem 0 rgba(0,75,121,0.15);
    }
  }

  @media screen and (min-width: 1330px) {
    // min-width: 25.5rem;
    width: calc(100% / 4 - 1.2rem * 2);
    height: 35.5rem;
  }
}

.member__card__body {
  height: 80%;
  box-shadow: 0 4px 12px 0 rgba(0,75,121,0.15);

  img {
    height: 100%;
    width: 100%;
    border-radius: .3rem .3rem 0 0;
  }
}

.member__card__footer {
  display: flex;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  background: $main-blue;
  color: $white;
  padding-left: .8rem;
  font-size: 1.4rem;
  border-radius: 0 0 .3rem .3rem;
  z-index: 2;
  
  h3 {
    font-weight: 900;
    margin: 0;
    font-family: 'Roboto';
    font-size: 1.8rem;
  }

  p {
    padding-top: 0.8rem;
    margin: 0;
    font-weight: 300;
    width: 14rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;

    @media screen and (min-width: $tablet-screen){
      overflow:visible;
    }
  }
}

.member__card__delete {
  position: absolute;
  color: $text-blue;
  bottom: 1.8rem;
  right: 1.8rem;
  width: 4rem;
  height: 4rem;
  background: $white;
  border-radius: 50%;
  opacity: .79;
  text-align: center;
  cursor: pointer;

  i {
    margin-top: 1rem;
  }
}

.member__viewed__date {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  background: $text-blue;
  opacity: .8;
  line-height: 1.7rem;
  font-size: 1.4rem;
  text-align: center;
  color: $white;
  padding-top: .5rem;
  font-weight: 500;

  height: 2.5rem;
}
