.profile-status {
  margin-top: 3.2rem;
}
.profile-status__complete {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  text-transform: uppercase;
}

.profile-status__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

  h4 {
    margin: 2.4rem 0 .7rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: $main-blue;
  }

  p {
    margin: 0 0 1.6rem;
    color: #4A4A4A;
    font-weight: 300;
    font-size: 1.4rem;
  }

  h4, p {
    padding: .2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  textarea {
    height: 8.8rem;
    border: 1px solid #C9C9C9;
    color: #333;
    font-weight: 300;
    padding: 1rem;
    outline: none;
    resize: none;
  }

  input[type="text"] {
    align-self: center;
    width: 85%;
    height: 3rem;
    outline: none;
    padding: .3rem 1rem;
    color: #333;
    font-size: 1.5rem;
    font-weight: 300;
  }

  input[type="submit"] {
    width: 50%;
    height: 4.4rem;
    align-self: center;
    background-color:  $badge-color;
    border: none;
    border-radius: .5rem;
    color: $white;
    margin-top: .8rem;
    cursor: pointer;
  }
}

@media (min-width: $tablet-screen) {
  .profile-status {
    margin-top: 1.1rem;
  }

  .profile-status__complete {
    width: 80%;
  }
}

@media (min-width: $desktop-screen) {
  .profile-status__complete {
    width: 60%;
  }
}







