.profile__activities__activity {
  display: flex;
  flex-direction: column;
  margin-top: $s-size;
  box-shadow: 0 .4rem 1.2rem 0 rgba(0,75,121,0.07);
  padding-left: 1.5rem;

  .activity__date {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $text-blue;
    margin: 0;
  }

  .activity__title {
    margin: .8rem 0;
    font-size: $s-size;
    line-height: 1.9rem;
    color: $main-blue;
  }

  .activity__body {
    line-height: 2.4rem;
    font-size: $s-size;
    
    span {
      display: block;
      margin: 0;
      padding: .5rem 0;
      color: $dark-gray;
    }
    
    h4{
      font-weight: 500;
      margin: 0 auto;
      color: $text-blue;      
    }
  }
  
  .activity__comments {
    margin-left: -1.5rem;
    background: $message-background;
  }
}
